apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
  labels:
    app: api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: menachemkazido/tst-api
        ports:
        - containerPort: 8000
        emv:
          - name: DB_HOST
            value: "sql-service"
          - name: DB_USER
            value: root
          - name: DB_PASS
            value: menachem